// ustawienia wszystkich kolorów
// tło
$hover_accent: rgba(255, 255, 255, 0.15);
$background_trans_20: rgba(0, 0, 0, 0.20);
$background_trans_40: rgba(0, 0, 0, 0.40);
$background_trans_60: rgba(0, 0, 0, 0.60);
$background_trans_80: rgba(0, 0, 0, 0.80);
$background_trans_hover: rgba(255, 255, 255, 0.25);
$background_trans_hover_dark: rgba(0, 0, 0, 0.5);
// czcionka
$font_main_color: rgb(255, 255, 255);
$font_accent_color: rgb(255, 255, 255);
$font_accent_color_dark: rgb(0, 0, 0);
// przyciski
$button_bg_color: $background_trans_80;
$button_bg_color_hover: $background_trans_hover;
$button_font_color: $font_main_color;
$button_font_color_hover: $font_accent_color;
$button_accept_color: rgb(64, 200, 64);
$button_cancel_color: rgb(224, 66, 26);
// obramowanie
$border_color:rgb(0, 0, 0);
$border_color_hover:rgb(255, 255, 255);
$border_color_active: $font_main_color;
$border_color_active_hover: $border_color_hover;
// inne
$stars_color: goldenrod;