@import "_colors.scss";
@import "_mixins.scss";

/* boczne menu */

// ustawienia wszystkich dropdown menu
.dropdown-wrapper .custom-dropdown {
    @include custom_dropdown;
}

// ustawienia tła pod bocznym menu i zaokrąglenia rogów
.columns-wrapper .sidebar-wrapper {
    @include rounded_border;
    background-color: $background_trans_40;
}

// ustawienia wyszukiwarki tytułów
.sidebar-wrapper .sidebar-input .input-wrapper {
    background-color: $background_trans_40;
    .input-icon svg,
    .input-placeholder {
        color: $font_main_color;
    }
    .input-element {
        border-color: $border_color;
        color: $font_main_color;
    }
}

// ustawienia list - tytuł
.columns-wrapper .sidebar-wrapper .sidebar-group [class*="jsx-"] {
    color: $font_main_color;
    &::before {
        background-color: $font_main_color;
    }
}

// ustawienia list - menu
.columns-wrapper .sidebar-wrapper .sidebar-group .sidebar-list-wrapper .sidebar-list-item {
    @include rounded_border;
    .sidebar-list-title,
    .sidebar-list-counter {
        color: $font_main_color;
        .sidebar-icon-wrapper {
            color: $font_main_color;
        }
    }
    &:hover {
        background-color: $background_trans_hover;
        .sidebar-list-title,
        .sidebar-list-counter {
            color: $font_accent_color;
            font-weight: bold;
            .sidebar-icon-wrapper {
                color: $font_accent_color;
            }
        }
    }
    // // ustawienia list - menu - element aktyweny
    .is-active {
        background-color: $background_trans_60;
        border-color: $border_color;
        &:hover {
            background-color: $background_trans_hover;
            .sidebar-list-title,
            .sidebar-list-counter {
                color: $font_accent_color;
                font-weight: bold;
                .sidebar-icon-wrapper {
                    color: $font_accent_color;
                }
            }
        }
    }
}

// ustawienia list własnych
.accordion-wrapper .MuiAccordion-root {
    // ustawienia list własnych - tytuł
    .MuiAccordionSummary-root .MuiAccordionSummary-content {
        color: $font_main_color;
    }
    // ustawienia list własnych - elementy listy
    .sidebar-customList-link {
        &:hover {
            @include rounded_border;
            background-color: $background_trans_hover;
            .sidebar-customList-name,
            .sidebar-customList-content,
            .sidebar-customList-count {
                color: $font_accent_color;
                font-weight: bold;
            }
        }
        &.active {
            background-color: $background_trans_60;
            border-color: $border_color;
            .sidebar-customList-name,
            .sidebar-customList-content,
            .sidebar-customList-count {
                color: $font_accent_color;
            }
            &:hover {
                background-color: $background_trans_hover;
                .sidebar-customList-name,
                .sidebar-customList-content,
                .sidebar-customList-count {
                    color: $font_accent_color;
                    font-weight: bold;
                }
            }
        }
    }
    // ustawienia list własnych - przycisk zarządzania
    .customListManageLink-link {
        @include rounded_border;
        box-shadow: 0px 10px 10px $background_trans_60;
        color: $font_main_color;
        padding: 7px 10px;
        &:hover {
            background-color: $background_trans_hover;
            color: $font_accent_color;
            span.customListManageLink-text {
                color: $font_accent_color;
            }
        }
        .customListManageLink-text {
            color: $font_main_color;
        }
    }
}

// ustawienia filtrów
// chceckbox
.columns-wrapper .sidebar-wrapper .sidebar-group .checkbox-label {
    @include checkbox-label;
}

// tagi
// tagi - wyszukiwarka
.dropdown-wrapper .custom-async-dropdown {
    // tagi - wyszukiwarka - pole wyszukiwania
    div.custom-dropdown-control {
        background-color: $background_trans_60;
        border-color: $border_color;
        svg,
        [class^="css"],
        [class$="placeholder"] {
            color: $font_main_color;
        }
        [class$="indicatorSeparator"] {
            background-color: $font_main_color;
        }
        &:hover {
            border-color: $border_color_hover;
            svg,
            [class$="placeholder"] {
                color: $font_accent_color;
                font-weight: bold;
            }
            [class$="indicatorSeparator"] {
                background-color: $font_accent_color;
            }
        }
        [class$="multiValue"] {
            background-color: $background_trans_hover;
            div {
                background-color: transparent;
                color: $font_main_color;
                 :hover {
                    background-color: $button_cancel_color;
                    border-radius: 3px;
                }
            }
        }
    }
    // tagi - wyszukiwarka - lista/pole informacyjne
    [class*="css"][class*="menu"] {
        background-color: $background_trans_80;
        div div {
            color: $font_main_color;
        }
        [class*="css-"][class*="-option"] {
            background-color: transparent;
            .dropdown-option-label {
                color: $font_main_color;
            }
            &:hover {
                background-color: $background_trans_hover;
                color: $font_accent_color;
                font-weight: bold;
            }
        }
    }
}

// tagi - przycisk "Zaawansowany wybór tagów"
.sidebar-wrapper .sidebar-group .advanced-tags-btn {
    background-color: $background_trans_80;
    border-color: $border_color;
    color: $font_main_color;
    &:hover {
        background-color: $background_trans_hover;
    }
}

// ustawienia dat premier
// ustawienia dat premier - wybrane daty
.sidebar-wrapper .sidebar-group .premiere-dates-wrapper {
    background-color: $background_trans_80;
    border-color: $border_color;
    color: $font_main_color;
    span {
        color: $font_main_color;
    }
    .premiere-dates-close {
        color: $font_main_color;
         :hover {
            background-color: $button_cancel_color;
            border-radius: 3px;
        }
    }
}

// ustawienia dat premier - suwak wyboru
.custom-slider-wrapper {
    .MuiSlider-thumb {
        background-color: $font_main_color;
        border-color: $border_color;
        .MuiSlider-valueLabel span {
            background-color: $background_trans_80;
        }
    }
    .MuiSlider-rail {
        color: $button_cancel_color;
    }
    .MuiSlider-track {
        color: $button_accept_color;
    }
}

// ustawienia dat premier - wpisywanie
.premiereManualChanger-wrapper {
    p {
        color: $font_accent_color;
        &:hover {
            font-weight: bold;
        }
    }
    .premiereManualChanger-date .input-wrapper {
        @include text-input;
    }
}


/* listay anime, mang, nowelek */

// ustawienia głównego tła pod listą i napisu statusu np. "Oglądam"
.wrapper-container .columns-wrapper .view-content-wrapper {
    background-color: $background_trans_40;
    border-color: $border_color;
    .view-content-header h3 {
        color: $font_accent_color;
        font-size: larger;
    }
}

// ustawienia przycisków zmiany typu listy
.view-content-header .view-changer-wrapper button {
    background-color: $background_trans_80;
    border-color: $border_color;
    &:hover {
        background-color: $background_trans_80;
        svg {
            color: $font_accent_color;
        }
    }
    &.is-active {
        background-color: $font_main_color;
        svg {
            color: $background_trans_80;
        }
        &:hover {
            background-color: $background_trans_80;
            svg {
                color: $font_accent_color;
            }
        }
    }
}

// ustawienia przycisków załaduj wszystko, zaznacz wiele, statystyki
.view-content-header .view-content-header-options button {
    border-radius: 5px;
    color: $font_accent_color;
    padding: 5px;
    text-shadow: 5px 5px 5px $background_trans_80;
    &:hover {
        background-color: $background_trans_hover_dark;
        color: $font_accent_color;
        font-weight: bold;
    }
    svg {
        color: $font_accent_color;
    }
}

// ustawienia ukrytej listy statystyk
.view-content-header .view-content-stats-wrapper {
    h5,
    li>span {
        color: $font_accent_color;
        text-shadow: 5px 5px 5px black;
    }
}

// ustawienia okna pup-up z informacjami o danej serii
.columns-wrapper .view-content-wrapper .rowTitleInfo-inner {
    background-color: $background_trans_80;
    div>p,
    li>span,
    div>div {
        color: $font_main_color;
    }
}

// 
// ustawienia specyfiiczne dla listy okładek
// po najechaniu na tytuł serii
.tiles-wrapper .cell-tile-wrapper .cell-tile-link .cell-tile-info {
    .cell-tile-title:hover {
        color: $font_accent_color;
        font-weight: bold;
    }
}

// ustawienia przycisku w komórce okładki
.tiles-wrapper .cell-tile-wrapper .cell-options-wrapper {
    // przycisk akcji znajdujący się w komórce okładki
    button {
        background-color: $background_trans_80;
        border-color: $border_color;
        color: $font_main_color;
        &:hover {
            background-color: $background_trans_hover_dark;
            border-color: $border_color_hover;
            svg {
                color: $font_accent_color;
            }
        }
    }
    // rozwijane mini menu pod przyciskiem akcji w komórce okładki
    .dropdown-list {
        background-color: $background_trans_80;
        border-color: $border_color_hover;
        button {
            color: $font_main_color;
            &:hover {
                background-color: $background_trans_hover;
                color: $font_accent_color;
            }
        }
    }
    .__react_component_tooltip::after {
        border-bottom-color: $border_color_hover;
    }
}

// .modal-wrapper {
//     .title-edit-modal-wrapper {
//         .title-edit-modal-type,
//         .title-edit-modal-link {
//             color: white;
//             &:hover {
//                 color: rgb(180, 180, 180)
//             }
//         }
//     }
// }