@import "_colors.scss";
@import "_mixins.scss";
// ustawienia głównego elementu
.settings .wrapper-container {
    // tło
    .settingsContent-wrapper {
        background-color: $background_trans_60;
        border-color: $border_color;
        // tytuł
        .settingsContent-header h3 {
            color: $font_main_color;
        }
    }
}

// ustawienie wszystkich pól wprowadzania tekstu w ustawieniach
.settings .settingsContent-wrapper .input-wrapper {
    background-color: $background_trans_80;
    input {
        border-color: $border_color_active;
        color: $font_main_color;
    }
    .input-icon svg,
    .input-placeholder {
        color: $font_main_color;
    }
    &.disabled {
        background-color: $background_trans_hover;
        .input-icon svg,
        .input-placeholder {
            color: $font_accent_color_dark;
        }
    }
}

// ustawienia wszystkich checkboxów
.settings .settingsContent-wrapper .checkbox-label {
    @include checkbox-label;
}

// ustawienia przycisków ogólnych
.customLists-button,
.importMal-wrapper {
    .button-wrapper button {
        background-color: $background_trans_80;
        border-color: $border_color;
        color: $font_main_color;
        &:hover {
            background-color: $background_trans_hover;
        }
    }
}

.settingsContent-wrapper {
    // ustawienia "podtytułów"
    div .title-wrapper h4[class^="jsx"] {
        color: $font_main_color;
    }
    // ustawienia wszystkich dropdown menu
    .custom-dropdown {
        @include custom_dropdown;
    }
    // ustawienia pól opisów
    div.description-box {
        background-color: $background_trans_80;
        border-color: $border_color;
        color: $font_main_color;
    }
    // ustawienia wszystkich radio buttonów
    .radio-label {
        @include radio-label;
    }
    // ustawienia menu dodawania muzyki
    .music-box-input .music-box-error {
        color: $button_cancel_color;
    }
    // ustawienia panelu głoścności
    .music-box-volume {
        p {
            color: $font_main_color;
        }
        .MuiSlider-thumb {
            background-color: $font_main_color;
            border-color: $border_color;
            .MuiSlider-valueLabel span {
                background-color: $background_trans_80;
            }
        }
        .MuiSlider-rail {
            color: $border_color_active;
        }
        .MuiSlider-track {
            color: $font_main_color;
        }
    }
}

// ustawienia generator wyglądu
.tab-wrapper {
    .tab-header .tab-title {
        border-color: $border_color_active;
        border-radius: 0px 0px 0px 0px;
        border-style: none none solid none;
        color: $font_main_color;
        &:hover {
            background-color: $background_trans_hover;
            color: $font_accent_color;
            font-weight: bold;
        }
        &.active {
            background-color: $background_trans_60;
            border-bottom-style: none;
            border-color: $border_color_active;
            color: $font_accent_color;
            &:hover {
                background-color: $background_trans_hover;
            }
        }
    }
    .tab-content .descriptionLine-text {
        background-color: $background_trans_80;
        color: $font_accent_color;
    }
    .MuiSlider-root {
        .MuiSlider-thumb {
            background-color: $font_main_color;
            border-color: $border_color;
            .MuiSlider-valueLabel span {
                background-color: $background_trans_80;
            }
        }
        .MuiSlider-rail {
            color: $border_color_active;
        }
        .MuiSlider-track {
            color: $font_main_color;
        }
    }
}

// ustawienia pola zrzutu importu z mal
.importMal-dropzone {
    .custom-dropzone {
        background-color: $background_trans_80;
        .MuiDropzoneArea-textContainer {
            p,
            svg {
                color: $font_main_color;
            }
        }
    }
}

// ustawienia przycisków zapisz/przywróć do domyślnych
.settings [class*="-footer"] {
    div:first-child {
        .button {
            background-color: $background_trans_80;
            border-color: $button_accept_color;
            color: $button_accept_color;
            &:hover {
                background-color: $button_accept_color;
                border-color: $border_color;
                color: $font_accent_color_dark;
            }
        }
    }
    div:last-child {
        .button {
            background-color: $background_trans_80;
            border-color: $button_cancel_color;
            color: $button_cancel_color;
            &:hover {
                background-color: $button_cancel_color;
                border-color: $border_color;
                color: $font_accent_color_dark;
            }
        }
    }
}